<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Junior Front End Developer</title>

    <link href="bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="bootstrap/bootstrap-theme.css" rel="stylesheet"/>

    <script src="js/angular.min.js"></script>
    <script src="js/myApp.js"></script>
    <script src="js/myController.js"></script>
</head>
<body ng-controller="myController">
<div class="container " style="background:#A5A5A5">
    <h2>Dodaj prostokąt</h2>
    <div class="row col-sm-12">
        <form class="form-horizontal" name="rectangleForm" ng-submit="addRectangle(newRectangle)">
            <div class="col-sm-6 ">
                <div class="form-group col-sm-12 ">
                    <label class="col-sm-3 control-label">Numer:</label>
                    <div class="col-sm-8"><input ng-model="newRectangle.number" type="number" class="form-control"/></div>
                </div>
                <div class="form-group col-sm-12 ">
                    <label class="col-sm-3 control-label">Kolor:</label>
                    <div class="col-sm-8"><select class="form-control input-sm" ng-model="newRectangle.color">
                        <option value="red">czerwony</option>
                        <option value="yellow">żółty</option>
                        <option value="green">zielony</option>
                        <option value="blue">niebieski</option>
                    </select></div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-3 control-label">Rozmiar:</label>
                    <div class="col-sm-8">
                        <div class="radio">
                            <label><input ng-model="newRectangle.size" type="radio" name="opt" value="25">S</label>
                        </div>
                        <div class="radio">
                            <label><input ng-model="newRectangle.size" type="radio" name="opt" value="50">M</label>
                        </div>
                        <div class="radio">
                            <label><input ng-model="newRectangle.size" type="radio" name="opt" value="75">L</label>
                        </div>
                        <div class="radio">
                            <label><input ng-model="newRectangle.size" type="radio" name="opt"
                                          value="100">XL</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-12' style="margin-bottom:10px">
                <div class='col-sm-6'>
                    <button type="submit" class="btn btn-success btn-lg col-sm-offset-3">Zapisz</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <h3>Lista prostokątów</h3>
    <table class="table">
        <thead>
        <tr>
            <th># Numer</th>
            <th>Kolor</th>
            <th>Rozmiar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in rectangles">
            <td>{{r.number}}</td>
            <td>{{setColor(r.color)}}</td>
            <td>{{setSize(r.size)}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>